html, body {
  font-family: Roboto;
  font-weight: 400;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 300;
  background-color: #49a9ea;
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.header .tab {
  font-size: 18; 
  border-radius: 5;
  margin: 0px 5px; 
  padding: 3px 15px; 
  color: white; 
  background-color: rgba(255,255,255,.1)
}

.header .first {
  margin-left: 20px;
}

.header .title {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 14px;
}

.header .iconBox {
  background-color: rgba(255,255,255,0.1); 
  margin: 0px 10px; 
  height: 26px; 
  width: 26px; 
  align-items: center;
  justify-content: center; 
  display: flex; 
  border-radius: 52px
}

.header .imageProfile {
  border-radius: 48px; 
  margin-left: 10px; 
  margin-right: 25px;
}

::-webkit-input-placeholder {
  color: #797979;
}

